<div id="header">
  <h1>PORTRAITS</h1>
</div>

  <%= image_tag 'orielles', class: 'caption-size' %>
  <%= image_tag 'gang', class: 'caption-size' %>
  <%= image_tag 'hinds', class: 'caption-size' %>
  <%= image_tag 'mulletman', class: 'caption-size' %>
