body {
  background-color: #ee69a2;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-size: 110px;
}

#header {
  padding: 42px 204px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

