body {
  background-color: #ee69a2;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-size: 110px;
}

#header {
  padding: 42px 204px;
}

.container {
  display: flex;
  justify-content: space-around;
}


